<hgroup>
	<div class="container">
		<div class="row">
			<br>
			{% if page.id %}
			<div class="col-md-2 col-xs-2"></div>
			<div class="col-md-2 col-xs-2"></div>			
			<div class="col-md-1 col-xs-3">
				<span class="me image image-small"><a href="/"><img src="/static/img/gc.png" alt="" /></a></span>
			</div>
			<div class="col-md-3 col-xs-1"></div>
			<div class="col-md-2 col-xs-2"></div>
			<div class="col-md-2 col-xs-2"></div>
			{% else %}
			<div class="col-md-1"></div>
			<div class="col-md-2 col-sm-3 col-xs-6">
				<span class="me image image-full"><a href="/"><img class="gc" src="/static/img/gc.png" alt="" /></a></span>
			</div>
			<div class="col-md-6 col-sm-9 col-xs-12">
				<h1 class="intro">Hi. I'm <a href="/"><strong>GuoChen</strong></a></h1>				
				<p class="intro_text">I'm a web designer &amp; developer from Singapore.</p>
				<p class="intro_text">My portfolio is at <a href="http://hguochen.com">hguochen</a>.</p>
				<p class="intro_text">I write about the web and run marathons.</p>
				<p class="intro_text">Reach me at <a href="http://twitter.com/hguochen">@hguochen</a> or hguochen[at]gmail.com.</p>		
			</div>
			<div class="col-md-3"></div>
			{% endif %}
		</div>
	</div>
</hgroup>
