<hgroup>
	<div class="container">
		<div class="row">
			<br>
			<div class="col-md-1"></div>
			<div class="col-md-2">
				<span class="me image image-full"><a href="/"><img src="/static/img/guochen.jpg" alt="" /></a></span>
			</div>
			<div class="col-md-6">
				<h1 class="intro">Hi. I'm <a href="/"><strong>GuoChen</strong></a></h1>				
				<p class="intro_text">I'm a web designer &amp; developer, my portfolio at <a href="http://hguochen.com">hguochen</a>.</p>
				<p class="intro_text">I blog about the web and run marathons.</p>
				<div class="intro_text">Catch a glimpse of my life, my passion and my thoughts.</div>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>

</hgroup>
