<hgroup>
	<div class="container">
		<div class="row">
			<br>
			
			<div class="col-md-3">
				<span class="me image image-full"><a href="/"><img src="/static/img/guochen.jpg" alt="" /></a></span>
			</div>
			<div class="col-md-6">
				<br>
				<h1 class="intro">Hi. I'm <a href="/"><strong>GuoChen</strong></a></h1>				
				<p class="intro_text">I'm a web designer &amp; developer from Singapore.</p>
				<p class="intro_text">My portfolio at <a href="http://hguochen.com">hguochen</a>.</p>
				<p class="intro_text">I write about the web and run marathons.</p>
				<p class="intro_text">Reach me at <a href="http://twitter.com/hguochen">@hguochen</a> or <a href="mailto:hguochen@gmail.com">hguochen@gmail.com</a>.</p>		
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>

</hgroup>
