/* GENERAL */
body>header {
	padding-top: 1.5em;
	padding-bottom: 0;
}

/* FONTS */
.entry-content{
	font-family: georgia, 'Helvetica Neue', 'Droid Serif', serif;
	font-size: 0.8em;
	letter-spacing: 0.01rem;
	font-weight: 200;
	line-height: 1.6em;
	color: #333332;
}
.read_time {
	color:#a1a1a1;
	font-size: 0.7em;
	float: right;
	font-weight: 300;
}

/* IMAGES */
.me {
	border-radius: 50%;
}
.gc {
	width:100%;
}
.image {
	display: inline-block;
}
	.image img {
		display: block;
	}

	.image-full {
		display: block;
		position:relative;	
	}
	.image-small>a>img {
		width:100%;
	}

/* INTRO TEXT */
.intro {
	text-align: left;
	padding-left: 10px;
	font-size: 36px;
	padding-top: 20px;
}
.intro_text {
	font-size: 16px;
	line-height: 0.9em;
	color: #a1a1a1;
	padding-top: 10px;
	padding-left: 10px;
	margin-bottom: 0;
}

/* FOOTER */
.footer_color {
	color:#a1a1a1;
	margin-bottom: 1em;
}
.footer_color>a {
	color: #000;
}
.sharing {
	text-align: left;
	padding-bottom: 1em;
}
/* Responsive Layout */
@media screen and (max-width: 992px) {
	.image-full {
		display:block;
		margin-left: auto;
		margin-right: auto;
	}
}
/* END Responsive Layout*/

/* Content */
.top_padding {
	padding-top: 2em;
}