{% capture category_string %}
	{{ post.categories | size }}
{% endcapture %}
{% assign category = category_string | times: 1 %}
<h1>
	<a href="{{ root_url }}{{ post.url }}">{{post.title}}</a>
	{% capture words %}
	{{ post.content | number_of_words | divided_by:180 }}
	{% endcapture %}
	{% assign word_count = words | times: 1 %}
		{% if word_count != 0 %}
			<span class="read_time">{{ word_count }} minute read</span>
		{% else %}
			<span class="read_time">{{ word_count | plus: 1 }} minute read</span>
		{% endif %}	
	<div style="clear: both;"></div>
</h1>
<time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span> <span class='year'>%Y</span>"}}</time>

{% if category != 0 %}
	<span class="categories" >
		<span class="glyphicon glyphicon-tag"></span> 
		{{ post.categories | category_links }}
	</span>
{% endif %}
