{% capture root %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body 
{% if page.body_id %} 
  id="{{ page.body_id }}" 
{% endif %}
{% if page.sidebar == false %} 
  class="no-sidebar"
{% endif %}
{% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %}
  class="collapse-sidebar sidebar-footer" 
{% endif %}>
  <header role="banner">{% include header.html %}</header>
  
  <section class="container top_padding">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        {{ content | expand_urls: root }}
      </div>
      <div class="col-sm-1"></div>
    </div>
  </section>
  <footer role="contentinfo" class="footer_color">{% include footer.html %}</footer>
  
  {% include after_footer.html %}
</body>
</html>
